/* line 11, ../sass/style.scss */
html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  color: #333333;
  height: 100%;
}

/* line 20, ../sass/style.scss */
a {
  color: #336699;
}

/* line 24, ../sass/style.scss */
h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #D8D8D8;
  transition: color 0.5s ease;
}
/* line 30, ../sass/style.scss */
h2:hover {
  color: #336699;
  opacity: 0.6;
}
/* line 33, ../sass/style.scss */
h2:hover::first-letter {
  color: #336699;
}
/* line 38, ../sass/style.scss */
h2::first-letter {
  color: #C0C0C0;
}

/* line 45, ../sass/style.scss */
h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  line-height: 1.2em;
  margin-bottom: -0.25px;
  color: #336699;
}

/* line 53, ../sass/style.scss */
h4 {
  font-family: "Oswald", sans-serif;
  font-size: 0.8em;
  line-height: 1em;
  color: #999999;
}

/* line 60, ../sass/style.scss */
h5 {
  font-family: "Oswald", sans-serif;
  font-size: 0.8em;
  line-height: 1em;
  color: #336699;
}

/* line 67, ../sass/style.scss */
p {
  font-family: "Oswald", sans-serif;
  font-size: 0.7em;
  color: #333333;
}

/* line 73, ../sass/style.scss */
hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* ===========
       IDs 
   =========== */
/* line 82, ../sass/style.scss */
footer {
  font-size: .7em;
  height: 2em;
  margin-bottom: 0px;
  color: #C0C0C0;
}

/* line 89, ../sass/style.scss */
#nav a {
  margin-top: -15px;
  color: #336699;
  transition: color 0.5s ease;
}
/* line 94, ../sass/style.scss */
#nav a:hover {
  color: #C0C0C0;
}

/* line 99, ../sass/style.scss */
#subtitle {
  text-align: center;
  margin-top: -10px;
  background: #F0F0F0;
}

/* line 105, ../sass/style.scss */
#title {
  font-size: 2.5em;
  text-align: center;
  padding-top: 120px;
}

/* ===========
      class
   =========== */
/* line 115, ../sass/style.scss */
.active a {
  background: #336699;
  color: #fff !important;
  width: 100%;
  height: 100%;
  transition: color 0.5s ease;
}

/* line 124, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 129, ../sass/style.scss */
.contact p {
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 1em;
}

/* line 135, ../sass/style.scss */
.icon {
  width: 50px;
  padding-bottom: 5px;
  opacity: 0.7;
  transition: 0.5s ease;
}
/* line 141, ../sass/style.scss */
.icon:hover {
  opacity: 1;
}

/* line 146, ../sass/style.scss */
.info {
  font-size: 0.7em !important;
}

/* line 151, ../sass/style.scss */
.left {
  text-align: left;
}

/* line 155, ../sass/style.scss */
.links {
  color: #C0C0C0;
  vertical-align: center;
}
/* line 159, ../sass/style.scss */
.links a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: -2px;
  transition: 0.5s ease;
  display: inline-block;
  width: 100px;
  max-height: 50px;
  vertical-align: center;
}
/* line 170, ../sass/style.scss */
.links a.title {
  display: none;
}
/* line 172, ../sass/style.scss */
.links a:hover {
  color: #538cc6;
  transition: 0.5s ease;
}
/* line 176, ../sass/style.scss */
.links a:hover.title {
  display: none;
}
/* line 180, ../sass/style.scss */
.links:hover {
  position: relative;
}

/* line 186, ../sass/style.scss */
.navbar {
  background: #F0F0F0;
}

/* line 190, ../sass/style.scss */
.pdf {
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.5s ease;
  border: #336699 1px solid;
  padding: 10px;
}
/* line 197, ../sass/style.scss */
.pdf:hover {
  color: #fff;
  background: #336699;
  -webkit-animation: backforth 0.7s infinite alternate;
  -moz-animation: backforth 0.7s infinite alternate;
  -o-animation: backforth 0.7s infinite alternate;
  animation: backforth 0.7s infinite alternate;
}

/* line 207, ../sass/style.scss */
.resume {
  text-align: left;
}

/* line 210, ../sass/style.scss */
.row {
  padding-left: 0px;
}

/* line 214, ../sass/style.scss */
.option {
  color: #C0C0C0;
  font-size: 1em;
}

/* line 219, ../sass/style.scss */
.portfolioItem {
  display: inline;
}

/* line 223, ../sass/style.scss */
.portfolioImg {
  max-width: 400px;
  padding-top: 5px;
  opacity: .7;
  transition: 0.5s ease;
}
/* line 229, ../sass/style.scss */
.portfolioImg:hover {
  opacity: 1;
}

/* line 235, ../sass/style.scss */
.projectsImg {
  width: 100px;
  opacity: .7;
  transition: 0.5s ease;
}
/* line 240, ../sass/style.scss */
.projectsImg:hover {
  opacity: 1;
}

/* line 244, ../sass/style.scss */
.push {
  height: 4em;
}

/* line 248, ../sass/style.scss */
.viewpdf {
  padding-top: 20px;
  text-align: center;
}

/* line 253, ../sass/style.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

/* =============
    small screen
   ============= */
@media only screen and (max-width: 40em) {
  /* line 264, ../sass/style.scss */
  h3 {
    font-size: 1.1em;
  }

  /* line 267, ../sass/style.scss */
  .navi {
    font-size: 0.8em;
  }

  /* line 270, ../sass/style.scss */
  .portfolioImg {
    max-width: 100%;
  }
}
/* =============
    large screen
   ============= */
@media only screen and (min-width: 64.063em) {
  /* line 279, ../sass/style.scss */
  .largecenter {
    text-align: center;
  }
}
@-webkit-keyframes backforth {
  0% {
    margin-left: 20px;
    margin-right: 20px;
  }
  100% {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@-moz-keyframes backforth {
  0% {
    margin-left: 20px;
    margin-right: 20px;
  }
  100% {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@-o-keyframes backforth {
  0% {
    margin-left: 20px;
    margin-right: 20px;
  }
  100% {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@keyframes backforth {
  0% {
    margin-left: 20px;
    margin-right: 20px;
  }
  100% {
    margin-left: 0px;
    margin-right: 0px;
  }
}
