/* line 9, ../sass/style.scss */
html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  color: #333333;
  height: 100%;
}

/* line 18, ../sass/style.scss */
a {
  color: #336699;
}

/* line 22, ../sass/style.scss */
h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #D8D8D8;
}
/* line 28, ../sass/style.scss */
h2::first-letter {
  color: #C0C0C0;
}

/* ===========
       IDs 
   =========== */
/* line 36, ../sass/style.scss */
footer {
  font-size: .7em;
  height: 2em;
  margin-bottom: 0px;
  color: #C0C0C0;
}

/* line 43, ../sass/style.scss */
#nav a {
  margin-top: -15px;
  color: #336699;
  transition: color 0.5s ease;
}
/* line 48, ../sass/style.scss */
#nav a:hover {
  color: #C0C0C0;
}

/* line 53, ../sass/style.scss */
#subtitle {
  text-align: center;
  margin-top: -10px;
  background: #F0F0F0;
}

/* line 59, ../sass/style.scss */
#title {
  font-size: 2.4em;
  text-align: center;
  padding-top: 120px;
  background: #F0F0F0;
}

/* ===========
      class
   =========== */
/* line 70, ../sass/style.scss */
.active a {
  background: #336699;
  color: #fff !important;
  width: 100%;
  height: 100%;
  transition: color 0.5s ease;
}

/* line 80, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 84, ../sass/style.scss */
.navbar {
  background: #F0F0F0;
}

/* line 88, ../sass/style.scss */
.pdf {
  padding-left: 20px;
  padding-right: 20px;
  transition: padding 0.5s ease;
}
/* line 92, ../sass/style.scss */
.pdf:hover {
  -webkit-animation: backforth 0.7s infinite alternate;
  -moz-animation: backforth 0.7s infinite alternate;
  -o-animation: backforth 0.7s infinite alternate;
  animation: backforth 0.7s infinite alternate;
}

/* line 100, ../sass/style.scss */
.resume {
  text-align: left;
}

/* line 103, ../sass/style.scss */
.row {
  padding-left: 0px;
}

/* line 107, ../sass/style.scss */
.push {
  height: 0em;
}

/* line 111, ../sass/style.scss */
.viewpdf {
  padding-top: 20px;
  text-align: center;
}

/* line 116, ../sass/style.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

/* ===========
    transition
   =========== */
@-webkit-keyframes backforth {
  0% {
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@-moz-keyframes backforth {
  0% {
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@-o-keyframes backforth {
  0% {
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@keyframes backforth {
  0% {
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    padding-left: 0px;
    padding-right: 0px;
  }
}
