$color-text: #333333;
$color-dark: #999999;
$color-light: #C0C0C0;
$color-lighter: #D8D8D8;
$color-lightest: #F0F0F0;
$color-blue: #336699;
$color-lightblue: #538cc6; 
$color-white: #fff;
$font:'Oswald', sans-serif;

html, body {
	margin: 0px; 
	padding: 0px;
	font-family: $font;
	font-size: 1.2em;  	
	color: $color-text; 
	height: 100%;
}

a {
	color: $color-blue; 
}

h2 {
	font-family: $font; 
	text-transform: uppercase;
	font-weight: bold;
	color: $color-lighter;
	transition: color 0.5s ease;
	&:hover {
	color: $color-blue;
	opacity: 0.6;
		&::first-letter {
			color: $color-blue;
		}
	}

	&::first-letter {
	color: $color-light;	


	}
}

h3 {
	font-family: $font; 
	font-size: 1.3em;
	line-height: 1.2em;
	margin-bottom: -0.25px; 
	color: $color-blue;
}

h4 {
	font-family: $font; 
	font-size: 0.8em;
	line-height: 1em;
	color: $color-dark;
}

p {
	font-family: $font; 
	font-size: 0.7em;
	color: $color-text;	
}

/* ===========
       IDs 
   =========== */

footer {
	font-size: .7em; 
	height: 2em;
	margin-bottom: 0px; 
	color: $color-light;
}

#nav a {
	margin-top: -15px; 
	color: $color-blue; 
	transition: color 0.5s ease;

	&:hover {
		color: $color-light;
	}	
}

#subtitle {
	text-align: center; 
	margin-top: -10px; 
	background: $color-lightest; 
}

#title {
	font-size: 2.5em; 
	text-align: center; 
	padding-top: 120px; 
}

/* ===========
      class
   =========== */

.active a {
	background: $color-blue; 
	color: $color-white !important;
	width: 100%; 
	height: 100%; 
	transition: color 0.5s ease;
}


.center {
	text-align: center; 
}

.contact {
	p {
		padding-top: 10px; 
		padding-bottom: 0px; 
		font-size: 1em; 
	}
}

.icon {
	width: 50px; 
	padding-bottom: 5px; 
	opacity: 0.7;
	transition: 0.5s ease;		

	&:hover {
		opacity: 1; 
	}
}

.links  {

	color: $color-light; 
	vertical-align: center;
	a {
		text-transform: uppercase;
		font-weight: bold; 
		font-size: 0.8em; 
		margin-bottom: -2px; 
		transition: 0.5s ease;
		display: inline-block;
		width: 100px; 
		max-height: 50px; 
		vertical-align: center;

		&.title { display:none;}

		&:hover {
		
			color: $color-lightblue;
			transition: 0.5s ease;		
			&.title { display:none;}		
		}
	}

	&:hover {
			position: relative;

		}
}

.navbar {
	background: $color-lightest; 
}

.pdf {
	margin-left: 20px; 
	margin-right: 20px;
	transition: 0.5s ease;
	border: $color-blue 1px solid;
	padding: 10px; 

	&:hover {
		color: $color-white; 
		background: $color-blue; 
		-webkit-animation: backforth 0.7s infinite alternate; 
		-moz-animation:    backforth 0.7s infinite alternate; 
		-o-animation:      backforth 0.7s infinite alternate; 
		animation:         backforth 0.7s infinite alternate; 
	}
}

.resume {
	text-align: left; 
}
.row {
	padding-left: 0px; 
}

.option {
	color: $color-light;
	font-size: 1em;
}

.portfolioItem {
	display: inline;
}

.portfolioImg {
	max-width: 400px; 
	padding-top: 5px; 	
	opacity: .7; 
	transition: 0.5s ease;

	&:hover {
		opacity: 1; 
	}
}

.push {
	height: 4em;
}

.viewpdf {
	padding-top: 20px; 
	text-align: center;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em; 	
}

/* =============
    small screen
   ============= */
@media only screen and (max-width: 40em) { 
	h3 {
		font-size: 1.1em; 
	}
	.navi {
		font-size: 0.8em; 
	}
	.portfolioImg {
		max-width: 100%; 
	}
}

/* =============
    large screen
   ============= */
@media only screen and (min-width: 64.063em) { 
	.largecenter {
		text-align: center;
	}
}


 @-webkit-keyframes backforth {
  0%   { margin-left: 20px; 
		margin-right: 20px; }
  100%   { margin-left: 0px; 
		margin-right: 0px; }
}
@-moz-keyframes backforth {
  0%   { margin-left: 20px; 
		margin-right: 20px; }
  100%   { margin-left: 0px; 
		margin-right: 0px; }
}
@-o-keyframes backforth {
  0%   { margin-left: 20px; 
		margin-right: 20px; }
  100%   { margin-left: 0px; 
		margin-right: 0px; }
}
@keyframes backforth {
  0%   { margin-left: 20px; 
		margin-right: 20px; }
  100%   { margin-left: 0px; 
		margin-right: 0px; }
}