<!DOCTYPE html>
<html lang="en" ng-app="portfolio">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bernice Go</title>


    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Other Sources -->
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div ng-controller="portfolioController" class="wrapper">
        <section ng-controller="panelController as panel">
            <header>
            <div id="title">BERNICE GO</div>
                 <p id="subtitle">A FREELANCE WEB & GRAPHICS DESIGNER</p>            
                <div id="nav" ng-init="tab = 1" >
                    <ul>
                        <li ng-class="{ active:panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)" class="navi">portfolio</a></li>
                        <li ng-class="{ active:panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)" class="navi">resume</a></li>
                        <li ng-class="{ active:panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)" class="navi">contact</a></li>
                    </ul>
                </div>
            </header>

            <div id="content" class="text-center">
                <div class="panel noborder" ng-show="panel.isSelected(1)">
                    <div class="portfolio">
                        <div ng-repeat="i in infos" class="portfolioItem">
                            <a ng-href="{{ '#item' + $index }}" data-toggle="modal"><img ng-src="img/portfolio/{{i.img}}" class="portfolioImg" ng-alt="{{ i.title }}" /></a>

                             <!-- Modal -->
                            <div ng-attr-id="{{ 'item' + $index }}" class="modal fade" role="dialog">
                              <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-body ">
 
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <div class="portfolioInfo">
                                        <span ng-switch on="'{{i.link}}'" class="modalbox">
                                            <img ng-switch-when="" ng-src="img/portfolio/{{i.img}}" class="modalimg">
                                            <img ng-switch-default ng-src="img/portfolio/{{i.link}}" class="modalimg">
                                        </span>
                                        <p class="modalbox">
                                        <span class="portfolioType">{{ i.type }}</span>
                                        <span class="portfolioTitle">{{ i.title }}</span>
                                        <span class="portfolioDesc"  ng-bind-html="getHTMLvalue(i.description)"></span>
                                        </p>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel contact" ng-show="panel.isSelected(2)">
                        <p class="contactTitle">RESUME</p>
                        <p class="contactForm">
                            <br>View <a href="resume.pdf">PDF</a>
                        </div>
                </div>

                <div class="panel contact " ng-show="panel.isSelected(3)">
                    <div class="" ng-controller="recapCtrl as recap">
                        <p class="contactTitle">Contact</p>
                        <p class="contactForm">
                            <br>Feel free to <a href="http://sites.strawberry-tenshi.net/#contact">contact me</a>, or send me a note on gmail - bernicewygo
                        </div>
                    </div>        
                </div>
            </div>
        </section>
        <div class="push"></div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Bernice Go 2015</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/lightbox.js"></script>   
    <script src="bower_components/stellar.js/src/jquery.stellar.js"></script>
    <script src="bower_components/waypoints/lib/noframework.waypoints.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
    <script src="js/bernice.js"></script>
    <script src="js/portfolio.js"></script>
</body>

</html>
