<!DOCTYPE html>
<html lang="en" ng-app="portfolio">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bernice Go</title>


    <!-- CSS -->
    <link href="bower_components/foundation-sites/dist/foundation-flex.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="bower_components/tooltipster-master/css/tooltipster.css" />

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!-- Other Sources -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div ng-controller="portfolioController" class="wrapper">
        <section ng-controller="panelController as panel">
            <header class="navbar">
            <div id="title">BERNICE GO</div>
                <p id="subtitle">A FREELANCE WEB & GRAPHICS DESIGNER
                </p>
                <div class="row">
                    <div class="small-12 columns">           
                        <div id="nav" ng-init="tab = 3" class="center">
                            <ul class="menu simple expanded navmenu center">
                                <li ng-class="{ active:panel.isSelected(1) }" class="center"><a href ng-click="panel.selectTab(1)" class="navi center">portfolio</a></li>
                                <li ng-class="{ active:panel.isSelected(3) }" class="center"><a href ng-click="panel.selectTab(3)" class="navi center">hello!</a></li>
                                <li ng-class="{ active:panel.isSelected(2) }" class="center"><a href ng-click="panel.selectTab(2)" class="navi center">resume</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            <div id="content" class="center">
                <div class="panel" ng-show="panel.isSelected(1)">
                    <div class="portfolio">
                        <div ng-repeat="i in infos" class="portfolioItem">
                            <span ng-switch on="'{{i.link}}'">
                                <a ng-switch-when="" ng-href="img/portfolio/{{i.img}}" data-lightbox="port"><img ng-src="img/portfolio/{{i.img}}" class="portfolioImg" ng-alt="{{ i.title }}" /></a>
                                <a ng-switch-default ng-href="img/portfolio/{{i.link}}" data-lightbox="port"><img ng-src="img/portfolio/{{i.img}}" class="portfolioImg" ng-alt="{{ i.title }}" /></a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="panel resume" ng-show="panel.isSelected(2)">
                    <p class="viewpdf"><i class="fa fa-hand-o-right"></i> <a href="resume.pdf" class="pdf">View PDF</a> <i class="fa fa-hand-o-left"></i></p>

                    <div class="row">
                        <div class="small-12 large-7 medium-offset-1 columns">
                            <div class="row">
                                <div class=" columns">
                                    <h2>Work Experience</h2>


                                    <div class="work" ng-controller="workController">
                                        <div ng-repeat="i in work" class="workItem">
                                           <div class="callout small">
                                              <h3>{{ i.title }}</h3>
                                              <h4>{{ i.company }} // {{ i.date }}</h4> 
                                              <p></p>
                                            </div>
                                        </div>
                                    </div>     

                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns">
                                    <h2>Education</h2>
                                    <div class="callout small">
                                      <h3>Honors Bachelor of Computer Science <span class="option">- Software Engineering Option</span></h3>
                                      <h4>University of Waterloo // 2011 - 2016</h4> 
                                    </div>
                                    <div class="callout small">
                                      <h3>Honors Bachelor of Business Administration <span class="option">- Marketing Specialization</span></h3>
                                      <h4>Wilfrid Laurier University // 2011 - 2016</h4> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="medium-11 medium-offset-1 large-offset-0 large-3 columns">
                            <h2 class="largecenter" id="skills">Skills</h2>
                            <div class="center">
                                <img src="img/icons/ae.png" class="icon" title="After Effects">
                                <img src="img/icons/ai.png" class="icon" title="Illustrator">
                                <img src="img/icons/id.png" class="icon" title="InDesign">
                                <img src="img/icons/ps.png" class="icon" title="Photoshop">
                                <br>
                                <img src="img/icons/angularjs.png" class="icon" title="AngularJS">
                                <img src="img/icons/cpp.png" class="icon" title="C++">
                                <img src="img/icons/javascript.png" class="icon" title="Javascript">
                                <img src="img/icons/jquery.png" class="icon" title="JQuery">
                                <img src="img/icons/php.png" class="icon" title="PHP">
                                <br>
                                <img src="img/icons/bootstrap.png" class="icon" title="Bootstrap">
                                <img src="img/icons/foundation.png" class="icon" title="Foundation">
                            </div>
                        

                            <h2 class="largecenter" id="skills">Hobbies</h2>
                            <div class="callout small">
                                <h5>Art</h5>
                                    <p class="center">digital . pixel . vector
                                        <br>marker . watercolor
                                    </p>
                                <h5>Music</h5>
                                    <p class="center">ARCT piano performance diploma
                                        <br>composition . flute . vocal
                                    </p>
                                <h5>Gaming</h5>
                                    <p class="center">PC . Mobile . 3DS
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel contact" ng-show="panel.isSelected(3)">

                            <p class="links">
                                <a href="https://github.com/bernicewygo" class="link" title='<i class="fa fa-github"></i>'>GitHub </a> //
                                <a href="https://www.linkedin.com/in/bernicewygo" class="link" title='<i class="fa fa-linkedin-square"></i>'>LinkedIn</a> // 
                                <a href="http://youtube.com/icedude999" class="link" title='<i class="fa fa-youtube"></i>'>Youtube</a>
                            </p>       
                            <p>Welcome to my online portfolio! 
                            </p>
                             <div class="row">
                                <div class="small-12 medium-offset-3 medium-6 columns">
                                   <p class="intro">Hi! I'm Bernice, and I'm a BBA/BCS Double Degree student at Wilfrid Laurier University & University of Waterloo set to graduate in August 2016. I'm looking for a full-time position starting in November 2016!
                                    </p>
                                </div>
                            </div>

                            <h3>Current Projects</h3>
                            <br>
                            <div class="row">
                                <div class="small-12 medium-offset-2 medium-4 columns">
                                    <div class="callout small">
                                        <h2>WATEats</h2>
                                        <hr>
                                        <p class="left info">
                                            A Blackberry App. Offers a choice of restaurants near the University of Waterloo campus given constraints such as time, distance and price.
                                        </p>
                                        <hr>
                                        <p class="info">
                                            Expected release to the Blackberry App Store by end of April 2016
                                        </p>
                                    </div>
                                </div>
                                 <div class="small-12 medium-4 columns">
                                    <div class="callout small">
                                        <h2>Neko Game</h2>
                                        <hr>
                                        <p class="left info">
                                            A cat Android game, made with Unreal Engine 4. 
                                        </p>
                                        <hr>
                                        <p class="info">
                                            Under development
                                        </p>
                                    </div>
                                </div>
                                <div class="small-12 medium-4 columns">
                                    <div class="callout small">
                                        <h2>Upscale Markets</h2>
                                        <hr>
                                        <p class="left info">
                                            An online grocery store web app made with Google's Material AngularJS. 
                                        </p>
                                        <hr>
                                        <p class="info">
                                            Under development. To be completed by April 2016.
                                        </p>
                                    </div>
                                </div>
                           </div>
                            <h3>Past Projects</h3>
                            <br>
                            <div class="row">
                                <div class="small-12 medium-offset-2 medium-4 columns">
                                    <div class="callout small">
                                        <h2>waterloc</h2>
                                        <hr>
                                        <p class="left info">
                                            A Web App. Uses the Google Maps API and University of Waterloo API to locate buildings across the main campus. Dynamic search results.
                                        </p>
                                        <hr>
                                        <p class="left info">
                                            <a href="img/projects/waterloc1.png" data-lightbox="port"><img src="img/projects/waterloc-s.png" class="projectsImg"/></a>
                                            <a href="img/projects/waterloc2.png" data-lightbox="port"><img src="img/projects/waterloc-s2.png" class="projectsImg"/></a>
                                        </p>
                                    </div>
                                </div>
                                 <div class="small-12 medium-4 columns">
                                    <div class="callout small">
                                        <h2>Squidpia</h2>
                                        <hr>
                                        <p class="left info">
                                            A 2D mini game of a squid built with HTML5/canvas. Pressing space doubles the squid size and speed. Moving the squid makes it squirt ink. 
                                        </p>
                                        <hr>
                                        <p class="left info">
                                            <a href="img/projects/specia.png" data-lightbox="port"><img src="img/projects/specia-s.png" class="projectsImg"/></a>
                                        </p>
                                    </div>
                                </div>
                           </div>


                             <h3>Let's talk!</h3>

                            <p>Feel free to <a href="http://sites.strawberry-tenshi.net/#contact">contact me</a>, or send me a note on gmail - bernicewygo</p>        
   
                </div>
     
                </div>
            </div>
        </section>
        <div class="push"></div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="text-center">
            <p>Copyright &copy; Bernice Go 2016</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="js/jquery.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/lightbox.js"></script>   
    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/tooltipster-master/js/jquery.tooltipster.min.js"></script>
    <script src="js/bernice.js"></script>
    <script src="js/portfolio.js"></script>

    <script>
        $(document).ready(function() {
            $('.tooltip').tooltipster();
        });
    </script>
</body>

</html>
